
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(56, 56, 56);
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1, h2, ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: teal;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:16px
}

h1 {
    color: white;
}

nav {
    background-color: #2a2929;
}

nav ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    min-height: 5vh;

}

nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: wheat;
}



footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2929;
}

footer p {
    color: white;

}

input {
    padding: 5px;
    border-radius: 10px;
    transition: 2s;
}

input:hover {
    width: 500px;

}

input:focus {
    width: 500px;
    padding: 10px;
    font-size: 2rem;
}

.box {
    background-color: teal;
    border: 4px solid #2a2929;
    border-radius: 5px;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: cell;

    transition: all 3s;
}

.box p {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.translate:hover {
    transform: translate(50px, -100px);
}

.rotate:hover {
    transform: rotate(-90deg);
}

.rotate-x:hover {
    transform: rotateX(65deg);
}

.rotate-y:hover {
    transform: rotateY(45deg);
}

.scale:hover {
    transform: scale(1.5, 0.75);
}

.skew:hover {
    transform: skew(10deg, 20deg);
}

.skew-x:hover {
    transform: skewX(30deg);
}

.skew-y:hover {
    transform: skewY(20deg);
}


.circle {
    transition: background 3s, border-radius 1s;
}

.circle:hover {
    border-radius: 50%;
    background-color: slateblue;
    transform: scale(2) translate(-50px, -50px) skewX(30deg);
}